{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-left">{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-left">{% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset mt-4">
        {% csrf_token %}
        <div class="form-group">
            {{ form.email }}
        </div>
        <button type="submit" class="btn btn-custom w-22 mt-3">{% trans 'Reset My Password' %}</button>
    </form>

    <p class="mt-3 text-left">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock content %}

