{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Application Details</h1>
    <ul>
        <li>{{application.position}}</li>
        <li>{{application.description}}</li>
        <li>{{application.position_level}}</li>
        <li>{{application.company_name}}</li>
        <li>{{application.date_applied}}</li>
        <li>{{application.status}}</li>
        <li>{{application.applied_method}}</li>
        <li>{{application.job_link}}</li>
        <li>{{application.recruiter_contact}}</li>
        <li>{{application.follow_up_date}}</li>
        <li>{{application.created_on}}</li>
    </ul>
</div>
{% endblock %}
