{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Create Application</h1>
    
    <form method="POST" action="{% url 'create-application' %}">
        {% csrf_token %}
        {{ application_form.as_p }}  <!-- This will render the form fields -->

        <button type="submit" class="btn btn-primary">Submit Application</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
