{% extends 'base.html' %}


{% block content %}
<div class="container filter-container">
    <h1>Showing {{ status }} Applications</h1>
    {% if apps %}
    <ul class="list-group">
        {% for app in apps %}
        <li class="list-group-item">
            <strong>Position:</strong> {{ app.position }}<br>
            <strong>Position Level:</strong> {{ app.position_level }}<br>
            <strong>Status:</strong> {{ app.status }}<br>
            <strong>Company:</strong> {{ app.company_name }}<br>
        </li>
        {% if apps|length > 1 %}
        <br>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}