{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="applied_analyze">
    <div class="applied"></div>
    <div class="interview"></div>
    <div class="offer"></div>
    <div class="rejected"></div>
    <div class="new-app">
        <button class="btn btn-custom" type="submit">New app</button>
    </div>
</div>

{% if user.is_authenticated %}
{% if applications %}
{% for app in applications %}
{{ app.position }}
{% endfor %}
{% else %}
{{ no_application_message }}
{% endif %}
{% endif %}
</div>
{% endblock %}
