{% extends "base.html" %}

{% block content %}
<div class="container search-container">
    <h1>Search Results for "{{ query }}"</h1>

    {% if applications %}
    <ul class="list-group">
        {% for application in applications %}
        <li class="list-group-item">
            <strong>Position:</strong> {{ application.position }}<br>
            <strong>Position Level:</strong> {{ application.position_level }}<br>
            <strong>Status:</strong> {{ application.status }}<br>
            <strong>Company:</strong> {{ application.company_name }}<br>
        </li>
        {% if applications|length > 1 %}
        <br>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <p>No applications match your search criteria.</p>
    {% endif %}
    {% endblock content %}