{% extends "base.html" %}

{% block content %}
<div class="container search-container">
    <h1 class="text-center">Search Results for "{{ query }}"</h1> <!-- Centered Title -->

    {% if applications %}
    <div class="row justify-content-center"> <!-- Center the row -->
        <div class="col-md-8"> <!-- Control the width of the column -->
            <ul class="list-group">
                {% for application in applications %}
                <li class="list-group-item">
                    <strong>Position:</strong> {{ application.position }}<br>
                    <strong>Position Level:</strong> {{ application.position_level }}<br>
                    <strong>Status:</strong> {{ application.status }}<br>
                    <strong>Company:</strong> {{ application.company_name }}<br>
                    <a href="{% url 'application-details' pk=application.id slug=application.slug %}"
                        class="btn btn-success" aria-label="Job details">Job
                        Details</a>
                </li>
                {% if applications|length > 1 %}
                <br>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <p class="text-center">No applications match your search criteria.</p> <!-- Centered message -->
    {% endif %}
</div>
<br>
{% endblock content %}